<div class="row">&nbsp;</div>

<div class="col-md-4">

	<div>	
		<button type="button" class="btn btn-default btn-block"
			x-ng-click="initUser()">
			Init User
		</button>
	</div>
	<div>&nbsp;</div>		
	<div>
		<pre>{{userInit.content}}</pre>
	</div>

</div>

<div class="col-md-8">

	<div class="row">
		<div class="col-md-2">
			<label><small>Parse URL</small></label>
		</div>
		<div class="col-md-10">	
			<input type="url" class="form-control" x-ng-model="itemParse.url"/>
		</div>
	</div>
	<div class="row">&nbsp;</div>	
	<div class="row">
		<div class="col-md-3 col-md-offset-1">	
			<button type="button" class="btn btn-default btn-block"
				x-ng-click="parseItem()">
				Parse Item
			</button>	
		</div>
		<div class="col-md-3 col-md-offset-3">	
			<button type="button" class="btn btn-default btn-block"
				x-ng-click="initItem()">
				Init Item
			</button>	
		</div>
	</div>
	<div class="row">&nbsp;</div>		
	<div class="row">
		<div class="col-md-6">
			<pre>{{itemParse.content | json}}</pre>
		</div>
		<div class="col-md-6">
			<pre>{{itemInit.content}}</pre>
		</div>
	</div>
	
</div>

<!-- 
<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<button type="button" class="btn btn-default btn-block"
			x-ng-click="initUser()">
			Init User
		</button>	
	</div>
	<div class="col-md-2 col-md-offset-1">
		<button type="button" class="btn btn-default btn-block"
			x-ng-click="parseItem()">
			Parse Item
		</button>	
	</div>
	<div class="col-md-2 col-md-offset-4">
		<button type="button" class="btn btn-default btn-block"
			x-ng-click="initItem()">
			Init Item
		</button>	
	</div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
	<div class="col-md-4">
		<pre>{{userInit.content}}</pre>
	</div>
	<div class="col-md-4">
		<pre>{{itemParse.content | json}}</pre>
	</div>
	<div class="col-md-4">
		<pre>{{itemInit.content}}</pre>
	</div>
</div>
 -->